
iframe.component-selector {
  width: 100%;
  height: 100vh;
}

/* A few tweaks to Drupal core for a better experience. */
.ui-dialog-off-canvas #drupal-off-canvas {
  padding: 0;
}

.ui-widget.ui-dialog.ui-dialog-off-canvas {
  border: 3px solid transparent;
}


