{#
/**
 * @file
 * Default theme implementation to display a component_selector_preview.
 *
 * @todo Document template
 *
 * Available variables:
 * - entity: A full Drupal entity.
 * 
 * @see template_preprocess_component_selector_preview()
 *
 * @ingroup themeable
 */
#}

<div class="component-selector-preview">    
  <fieldset>      
    <legend>
      <button class="cs-select-button" data-cs-bundle="{{ cs_bundle }}">Choose {{ label }}</button>
    </legend>
    {{ entity }}
  </fieldset>
</div>
