{#
/**
 * @file
 * Default theme implementation to display a component_selector.
 *
 * @todo Document template
 *
 * Available variables:
 * - entities: A list of entities.
 * 
 * @see template_preprocess_component_selector_preview()
 *
 * @ingroup themeable
 */
#}

<div class="component-selector">  
  {{ entities }}
</div>
